@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@font-face {font-family: martel; src: url(../martel.ttf);}
@font-face {font-family: tahoma8; src: url(../tahoma.ttf);}
@font-face {font-family: up; src: url(../1up.ttf);}

*{padding: 0; margin: 0; box-sizing: border-box;}

body {overflow: hidden;}
#container {width: 100vw; height: 100vh; display: flex;}
#engine {overflow:visible; background: url(../imgs/backgroundStyleTibia.png); display: flex;}

#world {
    background: url(../imgs/tibiaGrass.png);
    border: 1px solid;
    width: 7000px;
    height: 7000px;
    transition: 0.6s linear;  
}

#playerUi {
    width: 100px;
    height: 100px;
    position: absolute;
    transition: 0.6s linear;
    z-index: 100;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#player-name {
    font-family: 'Bebas Neue';
   
    text-shadow: 1px 0 0 black, -1px 0 0 black, 0 1px 0 black, 0 -1px 0 black, 1px 1px black, -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black;
    color: green;
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 16px;
    height: 16px;

    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}

#player-div-hem {
    margin-top: 2px;
    width: 100%;
    height: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#player-max-health {
    display: flex;
   
    align-items: center;
    width: 100%;
    height: 5px;
    background-color: rgba(0, 0, 0, 0.7);
    border: 1px solid black;
}
#player-health {
    width: 100%;
    height: 5px;
    background-color: green;
    border: 1px solid black;
    transition: 0.4s;
}
#player-max-mana {
    display: flex;

    align-items: center;
    width: 100%;
    height: 5px;
    background-color: rgba(0, 0, 0, 0.7);
    border: 1px solid black;
}
#player-mana {
    transition: 0.2s;
    width: 100%;
    height: 5px;
    background-color: blue;
    border: 1px solid black;
}

#player-image {
    width: 100%;
    height: 64px;

    background: url(../imgs/player/down3.png);
    background-repeat: no-repeat;
    background-size: 50px;
    background-position: 50%;
    /* transition: 0.1s linear; */
}

#menu-right {
    width: 180px;
    height: 100vh;
    background: url(../imgs/backgroundStyleTibia.png);
    position: fixed;
    right: 0;
    border-left: 1px solid rgb(152, 152, 152);
}

#wooden-floor {
    width: 200px;
    height: 885px;
    position: absolute;
    background: url(../imgs/woodenFloor.bmp);
}

#lvl-up-animation {
    width: 420px;
    height: 100px;
    font-family: 'up';
    color: white;
    font-size: 32px;
    text-shadow: 2px 2px 2px black;
    margin-top: -75px;
    text-align: center;

    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
   

}

#spear-animation {
  
    position: absolute;
    transform: translate(0px, 0px);
    transition: 0.1s;


}

#fire-animation {
    background-color: rgb(243, 106, 48);
    width: 30px;
    height: 30px;
    position: absolute;
    transform: translate(0px, 0px);
    transition: 1s;
    border-radius: 50%;
    border: 1px solid black;
}

#ice-animation {
    background-color: rgb(87, 205, 216);
    width: 30px;
    height: 30px;
    position: absolute;
    transform: translate(0px, 0px);
    transition: 1s;
    border-radius: 50%;
    border: 1px solid black;
}

#energy-animation {
    background-color: rgb(124, 104, 214);
    width: 30px;
    height: 30px;
    position: absolute;
    transform: translate(0px, 0px);
    transition: 1s;
    border-radius: 50%;
    border: 1px solid black;
    box-shadow: 3px 0 12px rgb(164,144,254), -3px 0 3px rgb(164,144,254), 0 3px 3px rgb(164,144,254), 0 -3px 3px rgb(164,144,254), 3px 3px rgb(164,144,254), -3px -3px 3px rgb(164,144,254), 3px -3px 3px rgb(164,144,254), -3px 3px 3px rgb(164,144,254);
    /* SHADOW CERTO */
}

#terra-animation {
    background-color: rgb(70, 156, 33);
    width: 30px;
    height: 30px;
    position: absolute;
    transform: translate(0px, 0px);
    transition: 1s;
    border-radius: 50%;
    border: 1px solid black;
    box-shadow: 1px 0 0 rgb(38, 96, 22), -1px 0 0 rgb(38, 96, 22), 0 1px 0 rgb(38, 96, 22), 0 -1px 0 rgb(38, 96, 22), 1px 1px rgb(38, 96, 22), -1px -1px 0 rgb(38, 96, 22), 1px -1px 0 rgb(38, 96, 22), -1px 1px 0 rgb(38, 96, 22);
    
}

#death-animation {
    background-color: rgb(25, 25, 25);
    width: 30px;
    height: 30px;
    position: absolute;
    transform: translate(0px, 0px);
    transition: 1s;
    border-radius: 50%;
    border: 1px solid black;
    
    box-shadow: 1px 0 0 purple, -1px 0 0 purple, 0 1px 0 purple, 0 -1px 0 purple, 1px 1px purple, -1px -1px 0 purple, 1px -1px 0 purple, -1px 1px 0 purple;
    
    
}

#healing-fx {
    position: absolute;
    width: 72px;
    transform: translateY(15px);

}

