#div-menu-down {
    width: 100%;
    bottom: 0;
    height: 120px;
    position: fixed;

    /* background:  url(../imgs/backgroundStyleTibia.png); */
    display: flex;
    justify-content: center;
}
#menu-down{
    width: 600px;
    height: 120px;
    background: url(../imgs/backgroundStyleTibia.png);
   
    
    border-bottom: 1px solid rgb(30, 30, 30);
    border-right: 1px solid rgb(30, 30, 30);
    border-left: 1px solid rgb(150, 150, 150);
    border-top: 1px solid rgb(150, 150, 150);
}

#menu-down-loot{
    width: 100px;
    height: 100%;
    border-bottom: 1px solid rgb(30, 30, 30);
    border-right: 1px solid rgb(30, 30, 30);
    border-left: 1px solid rgb(150, 150, 150);
    border-top: 1px solid rgb(150, 150, 150);
    background: rgba(0, 0, 0, 0.6);
    text-align: center;
}

#menu-down-loot-h1{
    color: white;
    font-family: 'martel';
    background: url(../imgs/backgroundStyleTibia.png);
    border-bottom: 1px solid rgb(30, 30, 30);
    border-right: 1px solid rgb(30, 30, 30);
    border-left: 1px solid rgb(150, 150, 150);
    border-top: 1px solid rgb(150, 150, 150);
}